<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JuCheap SSO 单点登录系统</title>
    <meta name="keywords" content="JuCheap SSO,JuCheap单点登录系统,JuCheap" />
    <meta name="description" content="JuCheap SSO 单点登录系统" />
    <link href="~/skin/default_skin/css/theme.css" rel="stylesheet" />
    <link href="~/skin/default_skin/css/googlefonts.css" rel="stylesheet" />
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body class="dashboard-page">
    <header class="navbar navbar-fixed-top navbar-shadow">
        <div class="navbar-branding hidden-phone">
            <a class="navbar-brand" href="/">
                <b>JuCheap</b> SSO
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            @if (User != null && User.Identity.IsAuthenticated)
            {
                <li class="dropdown menu-merge">
                    <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                        <img class="mw30 br64" alt="avatar" src="~/img/avatars/1.jpg">
                        <span class="hidden-xs pl15"> @User.Identity.Name </span>
                        <span class="caret caret-tp hidden-xs"></span>
                    </a>
                    <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                        <li class="list-group-item">
                            <a class="animated animated-short fadeInUp" href="@Url.Action("List","App")">
                                <span class="fa fa-desktop"></span> 我的网站
                            </a>
                        </li>
                        <li class="dropdown-footer">
                            <a href="/Account/Logout" class="">
                                <span class="fa fa-power-off pr5"></span> 登出
                            </a>
                        </li>
                    </ul>
                </li>
            }
            else
            {
                <li class="dropdown menu-merge">
                    <a href="/Account/Login" class="dropdown-toggle fw600 p15">
                        登录
                    </a>
                </li>
            }
        </ul>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2012 - @DateTime.Now.Year - JuCheap</p>
        </footer>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>