@model JuCheap.Core.Models.DepartmentDto

@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
<div class="wrapper wrapper-content">
@using (Html.BeginForm("Edit", "Department", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.ParentName)：</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.ParentName, new { @class = "form-control disabled", disabled = "disabled" })
            @Html.HiddenFor(m => m.ParentId)
            @Html.HiddenFor(m => m.Id)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">@Html.LabelFor(m => m.Name)：</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "菜单名称" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-8">
            <button class="btn btn-info" type="submit">保存</button>
            <button class="btn btn-white" type="button" id="btnBack" data-type="window">返回</button>
        </div>
    </div>
}
</div>
@section scripts{
    <environment names="Development">
        <script src="~/js/jquery.validate.js"></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script>
        <script src="~/js/base.js"></script>
        <script src="~/js/page/jucheap.action.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/validate.min.js" asp-append-version="true"></script>
        <script src="~/js/base.min.js" asp-append-version="true"></script>
        <script src="~/js/page/jucheap.action.js" asp-append-version="true"></script>
    </environment>
}
