
@{
    ViewBag.Title = "用户首页";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
@section styles
{
    <environment names="Development">
        <link href="~/css/plugins/jqgrid/ui.jqgrid.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/grid.min.css" asp-append-version="true" />
    </environment>
}

<div class="wrapper wrapper-content">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>用户管理</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="form-group">
                <button id="btnAdd" type="button" class="btn btn-primary " onclick="addModel()"><i class="fa fa-check"></i>&nbsp;添加</button>
                <button id="btnEdit" type="button" class="btn btn-info " onclick="editModel()"><i class="fa fa-paste"></i> 编辑</button>
                <button id="btnDel" type="button" class="btn btn-danger " onclick="delData()">
                    <i class="fa fa-dedent"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                </button>
                <button id="btnSetRole" type="button" class="btn btn-info "><i class="fa fa-user"></i> 角色设置</button>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input id="txtSearchKey" type="text" class="input form-control" placeholder="搜索关键字" />
                    <span class="input-group-btn">
                        <button id="btnSearch" class="btn btn btn-primary" type="button"> <i class="fa fa-search"></i> 搜索</button>
                    </span>
                </div>
            </div>

            <div class="jqGrid_wrapper">
                <table id="table_list"></table>
                <div id="pager_list"></div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <environment names="Development">
        <script src="~/js/plugins/jqgrid/jquery.jqGrid.js"></script>
        <script src="~/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>
        <script src="~/js/jqgrid-list.js"></script>
        <script src="~/js/json2.js"></script>
        <script src="~/js/base.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/grid.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        function addModel() {
            $("#btnAdd").button("loading");
            window.location.href = "@Url.Action("Add")";
        }

        function editModel() { //编辑
            var row = JucheapGrid.GetData();
            if (row != null) {
                $("#btnEdit").button("loading");
                window.location.href = "@Url.Action("Edit")/" + row.id;
            } else {
                alert("请选择要编辑的数据");
            }
        }

        function delData() { //删除
            XPage.DelData("@Url.Action("Delete")");
        }

        function searchData() { //搜索
            var json = {
                keywords: $("#txtSearchKey").val()
            };
            XPage.Search(json);
        }

        $(document).ready(function() {
            var config = {
                title: '用户列表',
                url: '@Url.Action("GetListWithPager")',
                colNames: ['主键', '登录名', '真实姓名','所属部门', '邮箱','超级管理员', '注册时间'],
                colModel: [
                    { name: 'id', index: 'id', width: 60, key: true, hidden: true },
                    { name: 'loginName', index: 'loginName', width: 60 },
                    { name: 'realName', index: 'realName', width: 60 },
                    { name: 'departmentName', index: 'departmentName', width: 120 },
                    { name: 'email', index: 'email', width: 60 },
                    {
                        name: 'isSuperMan',
                        index: 'isSuperMan',
                        width: 30,
                        align:'center',
                        formatter: function (cellValue, options, rowObject) {
                            return cellValue == true ? "<span class='btn btn-primary btn-rounded btn-xs'>是</span>" : "<span class='btn btn-danger btn-rounded btn-xs'>否</span>";
                        }
                    },
                    {
                        name: 'createDateTime',
                        index: 'createDateTime',
                        width: 60,
                        formatter: function(cellValue, options, rowObject) {
                            return cellValue;
                        }
                    }
                ]
            };
            JucheapGrid.Load(config);
            $("#btnSearch").bind("click", searchData);
            $("#btnSetRole").bind("click", function () {
                var row = JucheapGrid.GetData();
                if (row != null) {
                    //弹出即全屏
                    var layerIndex = parent.layer.open({
                        title: "用户角色授权",
                        type: 2,
                        content: '@Url.Action("Authen")/' + row.id + "?username=" + row.loginName,
                        area: ['800px', '600px'],
                        maxmin: true
                    });
                    parent.layer.full(layerIndex);
                } else {
                    parent.layer.alert("请选择要授权的用户");
                }
            });
        });
    </script>
}
