@model List<JuCheap.Core.Models.AppDto>

@{
    ViewBag.Title = "我的网站";
}

<div class="row mt70">
    <div class="col-sm-12">
        <div id="spy2" class="panel">
            <div class="panel-heading">
                <span class="panel-title">
                    <span class="fa fa-desktop"></span>我的网站
                </span>
                <div class="pull-right">
                    <a class="btn btn-success" href="@Url.Action("Add")">添加</a>
                </div>
            </div>
            <div class="panel-body pn">
                <div class="bs-component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="hidden-phone">#</th>
                                <th class="hidden-phone">网站ID</th>
                                <th>名称</th>
                                <th class="hidden-phone">网站地址</th>
                                <th class="hidden-phone">接入</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                int len = Model.Count;
                                for (int i = 0; i < len; i++)
                                {
                                    var app = Model[i];
                                    <tr>
                                        <td class="hidden-phone">@(i+1)</td>
                                        <td class="hidden-phone"><a href="@Url.Action("Edit",new {id=app.Id})">@app.ClientId</a></td>
                                        <td>@app.ClientName</td>
                                        <td class="hidden-phone">@app.ClientUri</td>
                                        <td class="hidden-phone"><a href="@Url.Action("Join")" target="_blank">接入</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div>
                </div>
            </div>
        </div>
    </div>
</div>

