@{
    ViewBag.Title = "添加任务模板表单";
    Layout = null;
}

@model IList<JuCheap.Core.Models.TaskTemplateFormDto>

@foreach(var form in Model)
{
    var index = Guid.NewGuid().ToString("N");

    <div id="control-@index" class="form-group">
        <input type="hidden" name="index" id="@index" value="@index"/>
        <input asp-for="@form.TemplateId" name="[@index].TemplateId" type="hidden"/>
        <label class="col-sm-2 control-label" asp-for="@form.ControlName"></label>
        <div class="col-sm-4">
            <input asp-for="@form.ControlName" name="[@index].ControlName" class="form-control" placeholder="控件名称"/>
            <span class="field-validation-valid" data-valmsg-for="[@index].ControlName" data-valmsg-replace="true"></span>
        </div>
        <label class="col-sm-2 control-label" asp-for="@form.ControlType"></label>
        <div class="col-sm-2">
            <select asp-for="@form.ControlType" name="[@index].ControlType" class="form-control" placeholder="控件类型">
                <option value="1">单行文本框</option>
                <option value="2">多行文本框</option>
                <option value="3">下拉框</option>
                <option value="4">日期</option>
                <option value="5">日期时间</option>
            </select>
            <span class="field-validation-valid" data-valmsg-for="[@index].ControlType" data-valmsg-replace="true"></span>
        </div>
        <div class="col-sm-2 text-right">
            <button class="btn btn-info btn-xs" type="button" onclick="loadDatas('true')">
                <i class="fa fa-plus-circle"></i>
            </button>
            <button class="btn btn-danger btn-xs" type="button" onclick="deleteControl('@index')">
                <i class="fa fa-minus-circle"></i>
            </button>
        </div>
    </div>
}  



